@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html{
    min-height: 100%;
    position: relative;
   
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    margin-bottom: 70px;
    font-family: 'Comfortaa', cursive; 
}
h1{
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    font-size: 800;
    margin: 0;
    padding: .3em .5em;
}
button{
    cursor: pointer;
}
#message{
    font-size: 1.3em;
    color: white;
    text-align: center;
    background-color: #525252;
    font-weight: bold;
    padding: .4em;
    border-bottom: 1px solid black;
}
.tablebox{
    margin: 30px 0 30px 0;
}
.tablebox .alertmsg {
    text-align: center;
    color: orangered;
    font-size: .8em;
    padding: .4em;
    text-shadow: 0 0 2px red;
}
.tablebox .note{
    color: #4b4b4b;
    text-align: center;
    font-size: .6em;
    padding: 0 .4em;
}
table{
    margin: 0 auto;
    max-width: 450px;
    width: 90%;
    -webkit-box-shadow: 0 0 3px #ff2f2f;
    box-shadow: 0 0 3px #ff2f2f;
    
}
table,th{
    border: 1px solid orangered;
    border-collapse: collapse;  
}

th button{
    display: block;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.3em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: background, -webkit-transform;
    transition-property: background, -webkit-transform;
    transition-property: transform, background;
    transition-property: transform, background, -webkit-transform;
    -webkit-transition: 200ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 200ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

th button:active{
    background: orangered;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-property: background, -webkit-transform;
    transition-property: background, -webkit-transform;
    transition-property: transform, background;
    transition-property: transform, background, -webkit-transform;
    -webkit-transition:  200ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:  200ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
table tr td{
    border-right: 1px solid orangered;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    padding: .2em;
}
table button:disabled{
    cursor: not-allowed;
}
.magicbtn{
    text-align: center;
}

.magicbtn button{
    outline: none;
    border: none;
    position: relative;
    background: rgba(82, 82, 82, 1);
    font-size: 14px;
    font-weight: 300px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px 20px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 6px rgba(82, 82, 82, .6);
    box-shadow: 0px 6px rgba(82, 82, 82, .6); 
}
.magicbtn button:hover{
    -webkit-box-shadow: 0px 4px rgba(82, 82, 82, 1);
    box-shadow: 0px 4px rgba(82, 82, 82, 1);
    top: 2px;
}
.magicbtn button:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 6px;
}
#progressBarBox{
    max-width: 400px;
    width: 90%;
    height: 5px;
    background: #cbc5c5;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 25px;
    display: none;
}
#progressBarBox #pbar{
    width: 1%;
    height: 100%;
    background: rgba(82, 82, 82, 0.8);
    border-radius: 10px;
    -webkit-transition: 300ms 0s ease-in;
    transition: 300ms 0s ease-in;
}
.btnScale{
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: -webkit-transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045), -webkit-transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.btnanimate{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 500ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 500ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 500ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 500ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 500ms 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.resetDiv{
    height: 50px;
    margin: 50px 0 0 0;
    text-align: center;
}
.resetDiv button{
    border: none;
    outline: none;
    background: rgba(82, 82, 82, .2);
    color: rgba(82, 82, 82, .5);
    padding: 10px;
    cursor: pointer;
}
.resetDiv button:hover{
    color: rgba(82, 82, 82, 1);
}
.resetDiv button:active{
    padding: 8px;
}
.resultbox{
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(128, 128, 128, .3);
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-transform: scale(0);
    transform: scale(0);
}
/* optional animation when we close the model window. faced some complexity so i don't include it */
/*
.afterClose{
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: -webkit-transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045), -webkit-transform 200ms 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
*/
.modelAnimate{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition:  -webkit-transform 500ms 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:  -webkit-transform 500ms 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:  transform 500ms 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:  transform 500ms 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 500ms 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.resultbox .resultcard{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 500px;
    width: 80%;
    min-height: 250px;
    padding: 1em;
    background-color: ghostwhite;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.resultbox .finalcard{    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
}
.resultcard > button{
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 1em;
    color: silver;
    outline: none;
    border: none;
}
.resultcard #namebox{
    text-align: center;
}
.resultcard #name{
    font-size: 2em;
    font-weight: 700;
}
.finalcard div:nth-of-type(1) > p{
    padding: 0 0 15px 0;
    margin: 0;
}
.finalcard div:nth-of-type(2){
    font-size: .8em;
    color: #656565;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid #c0c0c0;
    padding: 0 20px;
    color: #4b4b4b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .8em;
}
.typed-cursor {
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@media screen and (max-width: 440px){
    
    th button{
    outline: none;
    border: none;
    padding: 1em 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    .magicbtn button{
    font-size: 12px;
    font-weight: 300px;
    padding: 5px 15px;
    }
    #message{
    font-size: 1em;
    } 
    .resultcard #name{
    font-size: 1.5em;
    }
}
      

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

